@charset "utf-8";

/* primary font ProximaNova */

@font-face {
  font-family: "ProximaNova", sans-serif;
  src: url(/fonts/ProximaNova-Regular.otf);
}

/* secondary font ProximaNova */

@font-face {
  font-family: "Muli", sans-serif;
  src: url(/fonts/Muli-Regular.ttf);
}

:root {
  --primary: #ff1616;
  --secondary: #00a3ff;
  --white: #fff;
  --black: #000;
  --primaryfont-family: "ProximaNova", sans-serif;
  --secondaryfont-family: "ProximaNova", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* transition: 500ms ease-in-out; */
}

html,
body {
  font-family: var(--primaryfont-family);
  line-height: 1.4;
  font-size: 1rem;
  background: #e5e5e5;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: var(--black);
}

a:focus {
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
li {
  padding: 0;
  list-style: none;
  text-decoration: none;
  margin: 0;
}

img {
  max-width: 100%;
  width: auto;
}

button {
  text-decoration: none;
  border: none;
  list-style: none;
  outline: none;
}

button:focus {
  text-decoration: none;
  list-style: none;
  outline: none;
}

.form-control:focus {
  outline: inherit;
  box-shadow: inherit;
}

/*=============== Dynamic class start ==================*/

.primaryfont-family {
  font-family: var(--primaryfont-family);
}

.text-primary {
  color: var(--primary);
}

.background-primary {
  background-color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.background-secondary {
  background-color: var(--secondary);
}

.text-yellow {
  color: var(--yellow);
}

.background-yellow {
  background-color: var(--yellow);
}

.text-green {
  color: var(--green);
}

.background-green {
  background-color: var(--green);
}

.text-white {
  color: var(--white);
}

.background-white {
  background-color: var(--white);
}

.text-black {
  color: var(--black);
}

.background-black {
  background-color: var(--black);
}

.text-dark {
  color: var(--black-dark);
}

.background-dark {
  background-color: var(--black-dark);
}

.text-light {
  color: var(--black-light);
}

.background-light {
  background-color: var(--black-light);
}

/*=============== Dynamic class End ==================*/

/*=============== Header css Start ==================*/

/*====== Main-Header css Start ====*/

.main-header {
  padding: 11px 0;
  background: blue;
}

.main-nav li {
  margin-right: 23px;
}

.main-nav li:last-child {
  margin-right: 0;
}

.main-nav li a {
  color: var(--white);
  font-weight: bold;
  font-size: 16px;
}

.main-header .form-control {
  min-height: 30px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #444;
  min-width: 230px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  padding-top: 8px;
  border-color: var(--primary);
}

.main-header .form-control::-webkit-input-placeholder {
  color: #949494;
}

.main-header .form-control:-ms-input-placeholder {
  color: #949494;
}

.main-header .form-control::placeholder {
  color: #949494;
}

.secBtn {
  background: transparent;
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
}

/* =======modal-header====== */
.pop {
  color: var(--white);
  padding: 0;
}

.modal-header {
  border: none;
  padding: 0;
  margin: 10px 10px 0;
}

.modal-body h4 {
  text-align: center;
  font-size: 24px;
  line-height: 29px;
}

.modal-body h5 {
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}

.modal-body input {
  outline: none;
  border: none;
  background: #f3f3f3;
  border-radius: 10px;
  padding: 9px 30px;
}

.modal-body .forgot {
  color: var(--black);
}

a.login {
  background: linear-gradient(135deg, #ff6b6b 0%, #ff1616 100%);
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  padding: 7px 0;
  margin: 13px 0;
  color: var(--white);
}

.google {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 12px;
  padding: 10px 6px;
}

.modal-dialog {
  width: 354px;
}

.modal-body {
  padding: 0px 36px 32px 36px;
}

.gpic {
  position: absolute;
  left: 2px;
  bottom: 9px;
  background: none;
  padding: 0px 0 2px 5px;
}

.sing-up a:hover {
  color: var(--primary);
}

.mobil a {
  margin: 0 20px;
}

.mobil button {
  margin: 0;
}

/*====== Main-Header css End ====*/
/* bt-header */
.bt-header {
  background: var(--white);
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.02);
  margin-bottom: 30px;
}

.bt-header h4.home {
  font-size: 20px;
}

.pen-tem h4 {
  font-size: 16px;
  line-height: 19px;
  align-items: center;
}

.bt-nav li {
  margin-right: 34px;
  font-size: 14px;
  position: relative;
}

.bt-nav li a:hover {
  color: var(--primary);
}

.bt-nav li a::after {
  position: absolute;
  bottom: -7px;
  left: 0;
  background-color: var(--primary);
  height: 4px;
  content: "";
  border-radius: 20px;
}

.bt-nav li a:hover::after {
  width: 100%;
}

/*=============== Header css End ==================*/
/* ================head start================== */
/* ========headline========= */
.img1 {
  width: 100%;
  height: 292.63px;
  object-fit: cover;
  border-radius: 10px;
}

.img3 {
  width: 100%;
  height: 122px;
  object-fit: cover;
  border-radius: 10px;
}

.dec {
  position: absolute;
  left: 32px;
  bottom: 100px;
}

.dec-1 {
  position: absolute;
  left: 8px;
  bottom: 69px;
}

.dec-2 {
  position: absolute;
  left: 31px;
  bottom: 92px;
}

.more {
  color: #00a3ff;
  font-size: 14px;
  line-height: 17px;
}

.new-York {
  font-size: 12px;
}

.head-tex {
  font-size: 14px;
  font-family: var(--primaryfont-family);
  line-height: 17px;
}

.head-tex-1 {
  font-size: 18px;
  line-height: 22px;
  font-family: var(--primaryfont-family);
}

.politics .img-box {
  overflow: hidden;
  width: 220px;
  height: 124px;
  border-radius: 10px;
}

.politics .img-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.headline-box {
  margin: 19px 0;
}

.new-yurk-box {
  margin: 14px 0 0;
}

/* ===================discovery================ */
.dis .location {
  background: linear-gradient(135deg, #ff6b6b 0%, #ff1616 100%);
  border-radius: 10px;
  padding: 10px 18px;
  display: inline-block;
  margin-top: 24px;
  color: var(--white);
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.dis h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.dis p {
  font-size: 14px;
  line-height: 17px;
  color: #797979;
}

/* ============= news ================ */
.like-coment-shear {
  margin-top: 24px;
}

.news-img {
  width: 100%;
  height: 148.06px;
  object-fit: cover;
  overflow: hidden;
}

.news {
  box-shadow: 0px 4px 2px rgb(0 0 0 / 2%);
}

.row box {
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  margin-bottom: 20px;
}

.wsb img {
  border-radius: 20px;
  width: 24px;
  height: 24px;
}

.wsb h4 {
  font-size: 12px;
  line-height: 15px;
}

.headline {
  font-size: 16px;
  line-height: 19px;
}

.new-York-2 span {
  width: 10px;
  height: 10px;
  background: var(--primary);
  border-radius: 10px;
  margin-left: 22px;
  margin-right: 4px;
}

.new-York-2 h5 {
  font-size: 14px;
  line-height: 17px;
}

.news h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}
.border-r {
  border-radius: 10px;
}
.news p {
  font-size: 13px;
  line-height: 20px;
  color: #777777;
}

.like-coment-shear h5 {
  font-size: 14px;
  line-height: 17px;
  margin-left: 10px;
}

/* =================tranding-tropic============= */
.tranding-tropic {
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  margin: 0 0 20px 10px;
}

.tranding-tropic .img-box {
  width: 38px;
  height: 38px;
  border-radius: 20px;
  overflow: hidden;
}

.tranding-tropic h4 {
  font-size: 16px;
  line-height: 19px;
}

.tranding-tropic h5 {
  font-size: 12px;
  line-height: 15px;
  color: #959595;
}

.tranding-tropic h6 {
  font-size: 14px;
  line-height: 17px;
}

.fouter ul li {
  font-size: 12px;
  line-height: 15px;
  margin: 0 31px 9px 0;
}

.foter-nav {
  margin-left: 28px;
}

/* ================plotices============== */
.btn {
  background: linear-gradient(135deg, #ff6b6b 0%, #ff1616 100%);
  border-radius: 7px;
  font-weight: bold;
  font-size: 14px;
  color: var(--white);
  margin-left: 44px;
  padding: 2px 17px;
}

/* -=================post=================== */
.tag h5 {
  font-size: 12px;
  line-height: 15px;
  margin: 21px 0 14px 0;
  background: #f4f4f4;
  border-radius: 3px;
  padding: 3px 9px;
}

span h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 14px;
}

.politics {
  padding: 20px 26px;

  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
}

.post {
  margin-top: 30px;
}

.wsb {
  margin-right: 21px;
}

.blog-img img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  margin-top: 20px;
}

.pragarph {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 25px;
  display: block;
}

.Comments h4 {
  margin-top: 45px;
  font-size: 22px;
  line-height: 27px;
  color: #757575;
  font-weight: bold;
  margin-bottom: 9px;
}

.Comments textarea {
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 14px;
  line-height: 17px;
  height: 69px;
  resize: none;
}

.Comments h5 a {
  font-size: 12px;
  line-height: 15px;
  color: #00a3ff;
  margin-top: 9px;
  margin-bottom: 30px;
  display: block;
}

.socil {
  margin: 25px 0 0;
}

.like-2 h5 {
  font-size: 14px;
  line-height: 17px;
}

.socil-2 li {
  margin-right: 11px;
}

.relate h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.main-foter {
  margin-top: 88px;
  padding: 8px 0;
}

.Your-Comment input {
  background: #ededed;
  border-radius: 10px;
  width: 703px;
  height: 40px;
  font-size: 12px;
  line-height: 15px;
  resize: none;
}

.chanel {
  padding: 37px 33px 26px 33px;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  margin-left: 10px;
}

.chanel-img h5 {
  margin: 11px 0 3px 0;
  font-size: 18px;
  line-height: 22px;
}

.chanel-img p {
  font-size: 16px;
  line-height: 19px;
  color: #767676;
}

.follow-btn {
  background: linear-gradient(135deg, #ff6b6b 0%, #ff1616 100%);
  border-radius: 7px;
  font-weight: bold;
  font-size: 14px;
  padding: 2px 17px;
  margin: 14px 0 27px 0;
}

.chanel-img-box {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  display: inline-block;
}

.fpp {
  margin-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 32px;
}

.fpp-contant span {
  margin-top: 7px;
  color: #767676;
  display: block;
}

.fpp-contant:nth-child(1) {
  border-right: 1px solid #d9d9d9;
  padding-right: 28px;
}

.fpp-contant:nth-child(2) {
  border-right: 1px solid #d9d9d9;
  padding-right: 42px;
}

.chanel-p {
  margin-bottom: 17px;
  font-size: 13px;
  line-height: 16px;
  color: #767676;
}

.calendar {
  margin-top: 17px;
}

.calendar a {
  font-size: 14px;
  line-height: 17px;
  color: #1976d2;
  margin-left: 18px;
}

.calendar h6 {
  font-size: 14px;
  line-height: 17px;
  color: #767676;
  margin-left: 18px;
}

.tranding-tropic-2 {
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  margin: 20px 0 20px 0;
  padding: 37px 33px 26px 33px;
  width: 100%;
  margin-left: 10px;
}

.tranding-tropic-2 .img-box {
  width: 38px;
  height: 38px;
  border-radius: 20px;
  overflow: hidden;
}

.tranding-tropic-2 h4 {
  font-size: 16px;
  line-height: 19px;
}

.tranding-tropic-2 h5 {
  font-size: 12px;
  line-height: 15px;
  color: #959595;
}

.tranding-tropic-2 h6 {
  font-size: 14px;
  line-height: 17px;
}

.tolat-news {
  padding-bottom: 50px;
}

/* ======================follow================= */
.follwing {
  padding-bottom: 100px;
}

.fllow h3 {
  margin-top: 36px;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 17px;
}

.followed {
  font-size: 14px;
  line-height: 17px;
}

.follwing .img-box {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.followst {
  padding: 0 0 9px 0;
  border-bottom: 1px solid #d9d9d9;
}

.followst .paper-tex h5 {
  font-size: 12px;
  line-height: 15px;
  color: #959595;
}

.followst .paper-tex h6 {
  font-size: 14px;
  line-height: 17px;
}

.followst button {
  background: var(--white);
  font-size: 12px;
  line-height: 15px;
  border: 1px solid var(--primary);
  box-sizing: border-box;
  border-radius: 7px;
  color: var(--primary);
  padding: 5px 19px;
}

/* ===============profile============== */
.profile {
  padding-bottom: 100px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 47.83px;
  height: 27px;
  margin-left: 55px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  width: 22.37px;
  height: 22.37px;
  left: 3px;
  bottom: 2px;
  background: #52c848;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: #eef1fa;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
  transform: translateX(19px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.profile-setting {
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  padding: 17px 0 0 0;
}

.profile-setting-box {
  padding: 19px 24px;
}

.profile-setting-box:hover {
  background: #ffefef;
  color: #000;
}

.profile-setting-box img {
  margin-right: 16px;
}

.profile-setting-box h6 {
  font-size: 14px;
  line-height: 17px;
}

hr.after-noice {
  width: 100%;
  height: 15px;
  background: #b1a7a7;
  margin: 0;
}

.profile-detles {
  background: #ffffff;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  padding: 19px 25px;
}

.profile-detles h2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.profile-detles .name h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin-left: 12px;
}

.input-group input {
  width: 250px;
  height: 35px;
  background: #f3f3f3;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 17px;
  color: #616161;
  margin: 16px 21px 0 0;
  padding-left: 30px;
}

.input-group img {
  position: absolute;
  left: 8px;
  bottom: 10px;
}

.savebtn {
  margin-top: 30px;
}

.savebtn .save {
  margin-right: 10px;
  padding: 8px 26px;
  background: linear-gradient(135deg, #ff6b6b 0%, #ff1616 100%);
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.savebtn .cancel {
  padding: 8px 19px;
  border: 1px solid #5e5e5e;
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  background-color: var(--white);
  color: #5e5e5e;
}

.remove {
  margin-left: 34px;
}

.remove a {
  color: var(--primary);
}

/* ========modal-3======== */
.forgat-password-modal-body {
  width: 354px;
  border-radius: 10px;
  padding: 0px 27px 30px 27px;
}

.forgat-password-modal-body h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 7px;
}

.forgat-password-modal-body h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 25px;
}

.forgat-password-modal-body .login {
  background: linear-gradient(135deg, #ff6b6b 0%, #ff1616 100%);
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 0;
  margin-top: 40px;
  color: var(--white);
}

.forgat-password-modal-body input {
  outline: none;
  border: none;
  background: #f3f3f3;
  border-radius: 10px;
  padding: 15px 0 11px 17px;
}
/* ========modal-2======== */
.forget-by-email {
  width: 354px;
  border-radius: 10px;
  padding: 0px 27px 30px 27px;
}

.forget-by-email h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 7px;
}

.forget-by-email h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 25px;
}

.forget-by-email .login {
  background: linear-gradient(135deg, #ff6b6b 0%, #ff1616 100%);
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 0;
  margin-top: 40px;
  color: var(--white);
}

.forget-by-email input {
  outline: none;
  border: none;
  background: #f3f3f3;
  border-radius: 10px;
  padding: 15px 0 11px 27px;
}
.forget-by-email .back {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.modal-content{
  border-radius: 10px;
}

/* ==========modal-6=========== */


.costam-news h4{
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 7px;
  text-align: start;
}
.costam-news h5{
  text-align:start;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 25px;
}
.costam-news a{
  padding: 8px 10px;
  border-radius: 50px;
  border: 1px solid #717171;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 19px;
  color: #717171;
  margin-left: 10px;
}
.costam-news a:hover{
  color: var(--primary);
  border: 1px solid var(--primary);
}
/* =============news history=============== */
.news-history {
  border: 1px solid #ededed;
  border-radius: 10px;
}
.news-history h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.news-history p {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #777777;
}
/*=============== Responsive Start ==================*/

@media (max-width: 1768px) {
}

@media (max-width: 1680px) {
}

@media (max-width: 1600px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1366px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 991px) {
}

@media (max-width: 801px) {
}

@media (max-width: 767px) {
}

@media (max-width: 600px) {
}

@media (max-width: 575px) {
}

@media (max-width: 480px) {
}

@media (max-width: 420px) {
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
}

/*=============== Responsive End ==================*/
